/Base/.vs/ProjectEvaluation/slms.metadata.v9.bin
/Base/.vs/ProjectEvaluation/slms.projects.v9.bin
/Base/.vs/ProjectEvaluation/slms.strings.v9.bin
/Base/.vs/SLMS/CopilotIndices/17.14.1347.20289/CodeChunks.db
/Base/.vs/SLMS/CopilotIndices/17.14.1347.20289/SemanticSymbols.db
/Base/.vs/SLMS/DesignTimeBuild/.dtbcache.v2
/Base/.vs/SLMS/FileContentIndex/1723987c-c832-46c8-bfeb-f09a7244d2d8.vsidx
/Base/.vs/SLMS/FileContentIndex/55294a02-84b5-4364-a693-61cd2fa93203.vsidx
/Base/.vs/SLMS/FileContentIndex/7d0790d0-d938-4d46-b8b6-35d8f625060c.vsidx
/Base/.vs/SLMS/FileContentIndex/8b6f5fce-e5ab-41e7-9e85-dbe99538b1f2.vsidx
/Base/.vs/SLMS/FileContentIndex/a70d96d3-46c5-4540-9bd2-d05ad477079a.vsidx
/Base/.vs/SLMS/v17/.futdcache.v2
/Base/.vs/SLMS/v17/.suo
/Base/.vs/SLMS/v17/DocumentLayout.backup.json
/Base/.vs/SLMS/v17/DocumentLayout.json
/Base/SLMS.Application/obj/
/Base/SLMS.Application/obj/Debug/net9.0/SLMS.Application.AssemblyInfoInputs.cache
/Base/SLMS.Application/obj/Debug/net9.0/SLMS.Application.assets.cache
/Base/SLMS.Application/obj/Debug/net9.0/SLMS.Application.GeneratedMSBuildEditorConfig.editorconfig
/Base/SLMS.WebAPI/appsettings.json
/Base/SLMS.WebAPI/appsettings.Development.json
/Base/obj
